Body {
  background-color: yellowgreen;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 34x;
  color: whitesmoke;
  line-height: 1.5;
  text-align: center;
}

form {
  padding: 30px;
  background-color: plum;
  border-radius: 10px;
  display: flex;
}

.rules {
  padding: 16px;
  border: 1px solid grey;
  width: 80%;
  font-size: 16px;
  border-radius: 40px;
  line-height: 20px;
  color: aqua;
}
