Body {
  background-color: yellowgreen;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 34x;
  color: whitesmoke;
  line-height: 1.5;
  text-align: center;
}

form {
  padding: 30px;
  background-color: plum;
  border-radius: 10px;
  display: flex;
}

.rules {
  padding: 16px;
  border: none;
  width: 80%;
  font-size: 16px;
  border-radius: 40px;
  line-height: 20px;
  color: aqua;
}
.button {
  margin-left: 10px;
  background: black;
  color: white;
  border: none;
  width: 150px;
  border-radius: 45px;
  padding: 16px 22px;
  font-size: 16px;
}
.poems {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
a {
  color: blueviolet;
}
